@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: #5334f5;
  text-decoration: none;
  font-weight: 600;
}

.Hero {
  background: url("../images/GreyHoney.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.Hero img {
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero h1 {
  margin: 0;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  text-shadow: 1px 1px 2px black, 0 0 4px white, 0 0 4px white;
}

.Hero p {
  color: rgba(255, 255, 255, 0.925);
  line-height: 1.5;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  text-shadow: 1px 1px 2px black, 0 0 4px white, 0 0 4px white;
}

.Hero a {
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  background: linear-gradient(104deg, #f3b800 0, #091010 100%);
}

.Hero a:hover {
  background: white;
  color: black;
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 18px;
  }

  .Hero p {
    font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero .Logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104deg, #f3b800 0, #091010 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  margin: 80px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (min-width: 1500px) {
  .CardGroup {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 720px) {
  svg {
  }
}

@media (max-width: 650px) {
  svg {
    height: 160px;
  }
}

@media (max-width: 400px) {
  svg {
    height: 150px;
  }
}

@media (max-width: 375px) {
  svg {
  }
}

@media (max-width: 270px) {
  svg {
    height: 140px;
  }
}

.Hero2 {
  background: url("../images/GreyHoney.jpg");
  background-size: cover;
  background-position: center;
}

.HeroGroup2 {
  margin: 0 auto;
  max-width: 500px;
  height: 960px;
  padding: 150px 50px;
  text-align: center;
}

.Hero2 img {
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero2 h1 {
  margin: 0;
  color: black;
  font-size: 54px;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  text-shadow: 1px 1px 2px black, 0 0 4px white, 0 0 4px white;
}

.Hero2 p {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  text-shadow: 1px 1px 2px black, 0 0 4px white, 0 0 4px white;
}

.Hero2 a {
  font-size: 17px;
  font-weight: 300;
  color: white;
}

.Hero2 a:hover {
  color: black;
  background: url("../images/Honey2.png");
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px black, 0 0 4px white, 0 0 4px white;
}

.Hero2 img:hover {
  transform: translateY(-20px);
}

@media (max-width: 640px) {
  .HeroGroup2 {
    padding: 100px 20px;
  }

  .Hero2 h1 {
    font-size: 40px;
  }

  .Hero2 p {
    font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero2 svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Hero2 .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 60px 0;
  justify-items: center;
}

.HeroGroup2 .Account {
  width: 100%;
  height: 100px;
  background: url("../images/GreyHoney.jpg");
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.spacebetween {
  position: relative;
}

@media (max-width: 640px) {
  .Hero2 .Logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* */

.Hero3 {
  background: url("../images/GreyHoney.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.HeroGroup3 {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.Hero3 img {
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero3 h1 {
  margin: 0;
  color: black;
  font-size: 54px;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  text-shadow: 1px 1px 2px black, 0 0 4px white, 0 0 4px white;
}

.Hero3 p {
  color: black;
  font-size: 30px;
  line-height: 1.5;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  text-shadow: 1px 1px 2px black, 0 0 4px white, 0 0 4px white;
}

.Hero3 a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  padding-bottom: 20px;
}

.Hero3 a:hover {
  background: white;
  color: black;
}

@media (max-width: 640px) {
  .HeroGroup3 {
    padding: 100px 20px;
  }

  .Hero3 h1 {
    font-size: 40px;
  }

  .Hero3 p {
    font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero3 svg {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -60px;
}

.Hero3 .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 60px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero3 .Logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* */

.Hero4 {
  background: url("../images/GreyHoney.jpg");
  height: 1000px;
  background-size: cover;
  background-position: center;
}

.HeroGroup4 {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.Hero4 .two img {
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  border-radius: 100%;
  border: 7px solid #231f20;
}

.Hero4 .two img:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero4 h1 {
  margin: 0;
  color: black;
  font-size: 54px;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  text-shadow: 1px 1px 2px black, 0 0 4px white, 0 0 4px white;
}

.Hero4 p {
  color: black;
  font-size: 30px;
  line-height: 1.5;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  text-shadow: 1px 1px 2px black, 0 0 4px white, 0 0 4px white;
}

.Hero4 a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  padding-bottom: 20px;
}

.Hero4 a:hover {
  background: white;
  color: black;
}

@media (max-width: 640px) {
  .HeroGroup3 {
    padding: 100px 20px;
  }

  .Hero4 h1 {
    font-size: 40px;
  }

  .Hero4 p {
    font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero4 svg {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -60px;
}

.Hero4 .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 60px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero4 .Logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

#Roadmap {
  padding-top: 170px;
}
